.footer {
  background: url("../../assets/footer/background_footer.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  color: #999;
  text-align: left;
  padding-left: 32px;
  transition: all 0.3s ease-in-out;

  p {
    font-size: 13px;
    line-height: 1.71429em;
  }

  .footer-link {
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: wheat;
      margin-left: 5px;
    }
  }

  .footer-wrapper {
    height: 500px;

    .footer-title {
      font-weight: 700;
      font-size: 15px;
      padding: 10px 0;
      color: white;
      // margin-top: 40px;
    }
    .footer-link-container {
      img {
        width: 99px;
        padding-bottom: 10px;
      }
    }

    .footer-info {
    }

    .footer-support {
    }

    .footer-connect {
      .footer-logo-container {
        display: inline-flex;

        .footer-logo {
          font-size: 30px;
          transition: 0.3s ease-in-out;
          padding: 0 10px;
          cursor: pointer;

          &:first-child {
            padding: 0 10px 0 0;
          }

          &:hover {
            color: wheat;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
