* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.app-wrapper {
  text-align: center;
  position: relative;
  transition: 0.3s ease-in-out;
  right: 0;
}

.app-wrapper.sidebar-move {
  right: 320px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* width: 100px;
  height: 100px; */
  z-index: 88888;
  transition: all 200ms linear;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  /* display: none; */
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  right: 320px;
  /* display: block; */
}

.side-nav {
  width: 320px;
  background-color: white;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
}

.side-nav.active {
  transform: translateX(0);
}

.close {
  position: absolute;
  /* right: 0; */
  border: none;
  background-color: inherit;
  font-size: 28px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.close:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
